/* Insert Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");

/* Form */
form {
  width: 100%;
}

label {
  position: relative;
  bottom: 3px;
}

input {
  width: 100%;
  height: 40px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s;
}

input:valid {
  border: 1px solid green;
}

input:invalid {
  border: 1px solid red;
}

textarea:valid {
  border: 1px solid green;
}

textarea:invalid {
  border: 1px solid red;
}

button {
  cursor: pointer;
  color: white;
  background: black;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  font-family: "Sen", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 5px;
}

button:hover {
  filter: brightness(200%);
  background: rgb(22, 22, 22);
}

button:focus {
  outline: none;
}
